body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-center {
  text-align: center;
}
