body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: none;
  box-sizing: border-box;
  ul {
    list-style: none;
  }

  li::before {
    content: "•";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-center {
  text-align: center;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #777777;
  border: 1px solid;
}
.custom-scrollbar::-webkit-scrollbar {
  margin-left: 30px;
  float: left;
  width: 65px;
  background: #777777;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #777777;
  border-radius: 10px;
  background-color: #777777;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #777777;
  background-color: #ffcc21;
}

.btn-main {
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  padding: 4px 30px;
  margin: 8px auto;
  display: block;
  height: 56px;
  width: 310px;
}
.section-header {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: white;
  width: 96px;
}
.date-header {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: white;
}
.my-record-bg {
  background: #2e2e2e;
}
